@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
  .title
    font-size: 28px
  .projects-box
    margin: 0
    .btn-red, p
      display: block
  .btn-red
    font-size: 14px
    padding: 15px 0 19px
  .contacts
    background-size: cover
    iframe
      width: 100%
      height: 200px
  header
    nav
      padding: 10px 30px 0
      div
        a
          line-height: 10px
          span
            font-size: 8px
  .first-blue
    padding: 45px
  .ruller
    padding: 40px
  body
    overflow-x: hidden
// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)


// ≤1200px
+media-breakpoint-up(xl)
