@import "vars"
@import "fonts"
@import "libs"

html
  overflow-x: hidden !important
  height: 100%
  scroll-behavior: smooth
.btn-red
  font-size: 16px
  line-height: 18px
  background: #e31e24
  color: white
  display: block
  padding: 22px 0 19px
  width: 80%
  margin: 0 auto
  border-radius: 7px
  box-shadow: 0 10px 10px 0 rgba(243, 86, 86, 0.3), inset 0px -5px 0 0 rgba(161, 25, 29, 0.75)
  &:hover
    color: white
    transform: scale(1.1)
    transition: .4s ease
.title
  color: $grey-black
  font-size: 48px
  text-align: center
  span
    color: $grey-blue
.ruller
  background: white
  padding: 74px 50px 111px
  &-boxes
    margin-top: 75px
  &-box
    text-align: center
    .btn-red
      display: none
    p
      font-size: 22px
      color: $grey-black
      text-align: center
      margin-top: 30px
    &:hover
      padding: 20px
      border-radius: 8px
      box-shadow: 0 20px 30px 0 rgba(186, 202, 218, 0.7)
      border-style: solid
      border-width: 2px
      background: white
      border-image-source: linear-gradient(to top, #c3d1de, #e6effe)
      transition: .4s ease
      .btn-red
        display: block
.projects
  padding: 67px 50px 58px
  background-image: url("../img/projects-bg.png")
  background-repeat: no-repeat
  background-position: center
  background-size: 100% 100%
  &-box
    padding: 15px
    background: white
    border-radius: 8px
    text-align: center
    margin: 0 100px
    h3
      padding: 15px 0
      font-size: 22px
    .btn-red
      margin: 27px auto 30px
      display: none
    p
      display: none
  .swiper-slide-next
    .projects-box
      .btn-red, p
        display: block
        transition: .4s ease
.swiper-pagination-bullet
  background: $grey-blue
  width: 20px
  height: 20px
  margin: 10px
.fas
  font-size: 40px
  color: $grey-blue
.partners
  padding: 66px 50px 36px
.contacts
  padding: 68px 10% 59px
  background-image: url("../img/contacts-bg.png")
  background-repeat: no-repeat
  background-position: center
  background-size: 100% 100%
  .title
    color: $grey-blue
  .fas, span, p
    font-size: 20px
  iframe
    border-radius: 8px
    border: 4px solid $grey-blue
  span
    font-weight: bold
    text-transform: capitalize
  p
    color: black
.first
  &-blue
    background-image: linear-gradient(to top, #78bbf1, #3586e9)
    padding: 45px 0 0 41px
    h1
      font-size: 48px
      color: white
    p
      color: white
    &--blue
      color: #26448c
    &--red
      color: #e31e24


.mt90
  margin-top: 90px

header
  width: 100%
  height: 50px
  background-color: #055ea0
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  color: white

  > nav > div
    float: left
    width: 16.6666%
    height: 100%
    position: relative

    > a
      text-align: center
      width: 100%
      height: 100%
      display: block
      line-height: 50px
      color: #fbfbfb
      transition: background-color 0.2s ease
      text-transform: uppercase

    &:hover > a
      background-color: rgba(0, 0, 0, 0.1)
      cursor: pointer

    > div
      display: none
      overflow: hidden
      background-color: white
      min-width: 200%
      position: absolute
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
      padding: 10px

    &:not(:first-of-type):not(:last-of-type) > div
      left: -50%
      border-radius: 0 0 3px 3px

    &:first-of-type > div
      left: 0
      border-radius: 0 0 3px 0

    &:last-of-type > div
      right: 0
      border-radius: 0 0 0 3px

    &:hover > div
      display: block

    > div > a
      display: block
      float: left
      padding: 8px 10px
      width: 46%
      margin: 2%
      text-align: center
      background-color: #f44355
      color: #fbfbfb
      border-radius: 2px
      transition: background-color 0.2s ease

      &:hover
        background-color: #212121
        cursor: pointer

h1
  margin-top: 100px
  font-weight: 100

p
  color: #aaa
  font-weight: 300

@media (max-width: 600px)
  header > nav > div >
  div > a
    margin: 5px 0
    width: 100%

    a > span
      display: none

.first-slider
  position: absolute
  bottom: 0
  right: 0
  z-index: 11111
  margin: 0 20px 20px 0
.head-bg
  background-image: url("../img/head-bg-1.png ")
  background-size: cover
  background-position: center
.head
  .fas
    font-size: 18px
@import "media" // Always at the end
